@import 'node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --transition-duration: .2s;
    --transition-timing-function: linear;
    --transition-delay: 0s;

    --text-color-demo-dark: #2c2c2c;
    --text-color-demo-light: #fff;

    --bg-demo-light: #fff;
    --bg-demo-dark: #2c2c2c;

}

html,
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color-demo-dark);
}

/* DEMO STYLES: YOU DON'T NEED THEM!!! */
body a {
    color: inherit;
    text-decoration: none;
}

.header {
    max-width: 500px;
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
}

.header__btns {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.header__btn {
    --btn-border-color: #2c2c2c;

    transition:
            all
            var(--transition-duration)
            var(--transition-timing-function)
            var(--transition-delay);
    padding: 10px 20px;
    margin-right: 10px;
    background-color: var(--bg-demo-light);
    border: 2px solid var(--btn-border-color);
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.header__btn:hover,
.header__btn.js-active {
    color: var(--text-color-demo-light);
    background-color: var(--bg-demo-dark);
}

.header__title {
    margin-bottom: 10px;
    font-weight: 600;
}

.content {
    margin: 60px auto;
    width: 100%;
}

.subtitle {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
}

.container {
    display: grid;
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 30px;
}

.footer {
    margin-top: auto;
    padding: 15px;
    color: var(--text-color-demo-light);
    text-align: center;
    background-color: var(--bg-demo-dark);
}

.footer__content p:first-child {
    margin-top: 0;
}

.footer__content p:last-child {
    margin-bottom: 0;
}

.footer__content a {
    text-decoration: underline;
}

/* CARDS STYLES: YOU NEED THEM!!! */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    text-align: center;
    background-image: linear-gradient(to right bottom, var(--gradient-start), var(--gradient-end));
    border-radius: 10px;
}

.card:nth-child(1) {
    --gradient-start: #FBDA61;
    --gradient-end: #FF5ACD;
}

.card:nth-child(2) {
    --gradient-start: #2af598;
    --gradient-end: #009efd;
}

.card:nth-child(3) {
    --gradient-start: #00DBDE;
    --gradient-end: #FC00FF;
}

.card__icon {
    --card-icon-dimensions: 120px;

    width: var(--card-icon-dimensions);
    height: var(--card-icon-dimensions);
}

.card__icon img {
    width: 100%;
}
